

<div class="container mx-auto">
  <div class="flex items-center">
    <form #filterForm="ngForm" (ngSubmit)="onSubmit(filterForm)">
      <div class="flex items-center">
          <input type="text" class="px-4 py-2 mr-2" placeholder="Search by Content" name="content" [(ngModel)]="filter.content">
          <input type="text" class="px-4 py-2 mr-2" placeholder="Search by Author" name="author" [(ngModel)]="filter.author">
        
          <!-- Date input voor createdDate -->
          <input type="date" class="px-4 py-2 border-2 rounded shadow" name="date" [(ngModel)]="filter.createdDate">

          <button type="submit" class="ml-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg">Search</button>
      </div>
        </form>
  </div>
</div>


