
@if(post$ |async; as post){
<h2 class="text-3xl font-semibold text-gray-800 mb-6">Edit Post</h2>

<form [formGroup]="postForm" (ngSubmit)="OnSubmit()"  class="max-w-lg mx-auto bg-white p-6 rounded-lg shadow-lg">
  <!-- Title Field -->
  <div class="mb-4">
    <label class="block text-sm font-medium text-gray-700">Title</label>
    <div>
        {{post.title}}
    </div>
  </div>

  <!-- Content Field -->
  <div class="mb-4">
    <label for="content" class="block text-sm font-medium text-gray-700">Content</label>
    <textarea name="content" id="content" formControlName="content" 
      class="w-full px-4 py-2 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
      oninput='this.style.height = ""; this.style.height = this.scrollHeight + "px"'></textarea>

      @if (postForm.get('content')?.touched && postForm.get('content')?.hasError('required')){
        <div class="text-red-500 text-sm mt-1">Content is required</div>
      }
  </div>

  <!-- Author Field -->
  <div class="mb-4">
    <label class="block text-sm font-medium text-gray-700">Author</label>
    <div>
        {{post.author}}
    </div>
  </div>

  <!-- Action Buttons -->
  <div class="flex justify-between">
    <button
      type="submit"
      class="px-6 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
      [class]="{'opacity-50 hover:bg-pxlGreen hover:opacity-50 cursor-not-allowed': !postForm.valid}" [disabled]="!postForm.valid">
      Save Changes
    </button>


    <button
      type="button"
      (click)="cancelEdit()"
      class="px-6 py-2 bg-gray-500 text-white rounded-lg hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-500"
    >
      Cancel
    </button>
  </div>
</form>
}